.table {
  width: 100%;
  padding: 2rem;
  overflow-x: auto;
  margin: 10px;
  flex-grow: 1;
}

.add-btn button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.2s ease;
  margin-bottom: 10px;
}

.add-btn button {
  background-color: #03a113;
  color: white;
}

.add-btn button:hover {
  background-color: #51c32e;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  overflow: hidden;
}

.employee-table thead {
  background-color: rgb(25, 193, 137);
  color: white;
  text-align: left;
}

.employee-table th,
.employee-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 0px solid #e0e0e0;
  font-size: 0.95rem;
}

.employee-table th {
  font-weight: 600;
  text-transform: uppercase;
}

.employee-table thead {
  border-bottom: 2px solid #a8a9af;
}

.employee-table tbody tr {
  border-bottom: 1px solid #ccc;
}

.employee-table tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;

}

.actions i {
  font-size: 20px;
  cursor: pointer;
}


button.update,
button.delete {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.2s ease;
}

/* Update button style */
button.update {
  background-color: #2196f3;
  color: white;
}

button.update:hover {
  background-color: #1976d2;
}

/* Delete button style */
button.delete {
  background-color: #f44336;
  color: white;
}

button.delete:hover {
  background-color: #d32f2f;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {

  .employee-table th,
  .employee-table td {
    padding: 10px;
    font-size: 14px;
  }

  .table {
    padding: 2px;
  }

}

button.update:focus,
button.delete:focus {
  outline: none;
  box-shadow: none;
}


.table-container {
  max-height: 500px;
  overflow-y: auto;
  // border: 1px solid #ccc;
}

.noData {
  text-align: center;
  color: gray;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 13px 0px 0px 0px;
}
