.contain-block{
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header{
    height: 10vh;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer{
    height: 10vh;
    display: flex;
    background-color: rgb(221, 245, 221);
    align-items: center;
    justify-content: center;
    // position: fixed;
    bottom: 0;
    width: 100%;
}

.side-nav{
    display: flex;
    height: 80vh;
    background-color: rgb(230, 215, 225);
    justify-content: center;

}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .isToggle.side-nav{ 
        width: 20%;
    }
}
  

.content-box{
    margin-top: 10vh;
    // background-color: rgb(115, 207, 122);
    width: 100%;
    display: flex;
    height: 80vh;
}

.content{
    width: 100%;
    background-color: #f8f9fa;
}

