/* You can add global styles to this file, and also import other style files */

html, body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    position: fixed;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

full-calendar{
    height: 100%;
}



p-checkbox span {
    white-space: normal;
    word-wrap: break-word;
    max-width: 350px;
}

.p-overlay {
    position: absolute ;
    top: 43px !important;
    inset-inline-start: 0;}