<div class="header">
       <form class="d-flex" role="search">
              <input class="form-control me-2 search" (input)="onSearch($event)" type="search" placeholder="Search"
                     aria-label="Search" />
       </form>

       <div style="grid-column: 6;" class="login">
              <img [ngbPopover]="popContent" src="avatar.png" alt="User Avatar" class="avatar-img" />

              <button class="login-btn" (click)="login()">
                     @if(!(isHandset | async)){
                      @if(user){
                     {{user}}
                     }@else {
                     Login
                     }
                     }
              </button>
       </div>
</div>

<ng-template #popContent>
  <div class="popover-content">
    <div class="greeting">Hello, Admin 
      @if(isHandset | async){
        {{user}}
      }
    </div>

    <button mat-menu-item class="logout-btn" (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </div>
</ng-template>


<!-- <mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="signOut()">
    <mat-icon>logout</mat-icon>
    Sign out
  </button>
</mat-menu>  -->
